body {
	font-family: 'pokemon-font', sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	height: 100%;
}

a{
	color:#fede84;
}

h1{
	font-family: 'pokemon-font', sans-serif;
}

h2{
	text-align:center;
}


@font-face {
	font-family: pokemon-font;
	src: url(../fonts/pokemonsolid.ttf);
}
@font-face {
	font-family: lato;
	src: url(../fonts/Lato-Light.ttf);
}

.imagen img{
	width:100%;
}

* {
	box-sizing: border-box;
  }
  
  .main {
	display: flex;
	flex-direction: row;
	font-size: 10px;
	height:1080px;
  }
  
  .col_izq {
	background-color: #00435f;
	padding: 10px;
	flex: 0%;
	font-size:15px;
	font-family: 'lato', sans-serif;
  }
  
  .col_der {
	background-color: #fede84;
	padding: 20px;
	flex: 80%;
	font-size: 15px;
  }


.col_der_comp{
	background-color: #1f7042;
	padding: 20px;
	flex: 80%;
	font-size: 15px;
}

.col_izq_comp{
	background-color:#fede84;
	font-family: roboto;
	padding: 10px;
	flex: 0%;
	font-size:15px;
	font-family: 'lato', sans-serif;
}

.col_izq_comp a{
	color:#000000;
}

.datos_pokemon{
	margin-left: 1%;
	color: #000000;
	font-family: lato;
}

.descripcion{
	margin-left: 1%;
	color: #000000;
	font-family: lato;
}

.formulario{
	margin-top:0%;
}

.datos_item{
	color: #000000;
}

.datos{
	width:33.3%;
	/* border-radius: 30px;
	background-color:#ffffff;
	border: 3px;
	height:55%; */
	
	
}

#googleMap {
width: 100%;
height: 75%;
}

#filtro{
	width: 100%;
}

.id_nombre{
	margin-top: 10%;
	width: 100%;
}

.boton_busqueda{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #24ab2c;
	border: none;
	color: #ffffff;
}


.pokemon img{
	width:200px;
	height: 200px;
}

.item img{
	width:200px;
	height: 200px;
}

.compartir{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #1f7042;
	border: none;
	color: #FFFFFF;
}

.enviar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #24ab2c;
	border: none;
	color: #'1f7042';
}
.cancel{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #dd3e41;
	border: none;
	color: #'1f7042';
}

.reset{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ffa500;
	border: none;
	color: #'1f7042';
}


.comentario {
	width: 99%;
	height: 200px;
}

footer{
	background-color:#fede00;
	padding:1em;
	text-align:center;
}



@media screen and (max-width: 768px){
   .main{
		flex-direction: column;
	   
   }
	.descripcion{
		width:100%;
		margin:0%;
		color: #fede84;
	}
	.datos_pokemon{
		width:100%;
		margin:0%;
		color: #fede84;
	}
	h1{
		text-align:center;
		color: #fede84;
	}
	.col_der{
		background-color: #00435f;
	}
	
}
	


