body {
	font-family: 'pokemon-font', sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	height: 100%;
}

a{
	color:#fede84;
}

h1{
	font-family: 'pokemon-font', sans-serif;
}

h2{
	text-align:center;
}


@font-face {
	font-family: pokemon-font;
	src: url(../fonts/pokemonsolid.ttf);
}
@font-face {
	font-family: lato;
	src: url(../fonts/Lato-Light.ttf);
}

.imagen img{
	width:100%;
}

* {
	box-sizing: border-box;
  }
  
  .main {
		display: flex;
		flex-direction: row;
		font-size: 10px;
	}

  .main2 {
	display: flex;
	flex-direction: row;
	font-size: 10px;
	height:1080px;
  }
  
  .col_izq {
	background-color: #00435f;
	padding: 10px;
	flex: 0%;
	font-size:15px;
	font-family: 'lato', sans-serif;
  }
  
  .col_der {
	background-color: #fede84;
	padding: 20px;
	flex: 80%;
	font-size: 15px;
	  
  }


.col_der_comp{
	background-color: #1f7042;
	padding: 20px;
	flex: 80%;
	font-size: 15px;
}

.col_izq_comp{
	background-color:#fede84;
	font-family: roboto;
	padding: 10px;
	flex: 0%;
	font-size:15px;
	font-family: 'lato', sans-serif;
}

.col_izq_comp a{
	color:#000000;
}

.info{
	margin-left: 1%;
	color: #000000;
	font-family: lato;
	display: flex;
	flex-wrap: wrap;
}

.descripcion{
	margin-left: 1%;
	color: #000000;
	font-family: lato;
}

.formulario{
	margin-top:10%;

}

.datos_item{
	color: #000000;
}

.datos{
	border: 1px solid #fede84;
	background-color: #ffffff; 
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}

#googleMap {
width: 100%;
height: 75%;
}

#filtro{
	height: 50px;
    border-radius:30px 30px 30px 30px;
    border: none;
    font-family: 'lato';
	margin-bottom: 5%;
}

#email_emisor{
	margin-top: 0;
	height: 26px;
	border-radius: 30px;
	border-style: solid;
	width: 100%;
	box-sizing: border-box;
	font-family: 'lato';
}

#email_receptor{
	margin-top: 0;
	height: 26px;
	border-radius: 30px;
	border-style: solid;
	width: 100%;
	box-sizing: border-box;
	font-family: 'lato';
}



.id_nombre{
	height: 50px;
	border-radius:30px;
	border: none;
	font-family: 'lato';
	
	
}

.descripcion{
	width: 50px;
	height: 50px;
	/* margin:-5%; */
	border-radius: 50%;
	background-color: #4aaaaa;
	border: none;
	/*! color: #ffffff; */
}

.descripcion:hover{
  opacity: 70%;
}

.favoritos{
	width: 50px;
	height: 50px;
	/* margin:-5%; */
	border-radius: 50%;
	background-color: #faaaaa;
	border: none;
	/*! color: #ffffff; */
}

.favoritos:hover{
  opacity: 70%;
}

.boton_busqueda{
	width: 50px;
	height: 50px;
	/* margin:-5%; */
	border-radius: 50%;
	background-color: #ffffff;
	border: none;
	/*! color: #ffffff; */
}

.boton_busqueda:hover{
  opacity: 70%;
}

.reset2{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	background-color: #ffa500;
	border: none;
	color: #ffffff;
	/* margin:-0.7%; */
}

.reset2:hover{
	opacity: 70%;
}

.pokemon img{
	width:200px;
	height: 200px;
}

.item img{
	width:200px;
	height: 200px;
}

.compartir{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #1f7042;
	border: none;
	color: #FFFFFF;
}

.compartir:hover{
	opacity: 70%;
}

.enviar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #24ab2c;
	border: none;
	color: #'1f7042';
}

.enviar:hover{
	opacity: 70%;
}

.cancel{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #dd3e41;
	border: none;
	color: #'1f7042';
}

.cancel:hover{
	opacity: 70%;
}

.reset{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ffa500;
	border: none;
	color: #'1f7042';
}

.reset:hover{
	opacity: 70%;
}

#comentario {
  	margin-top: 0;
	height: 100px;
	border-radius: 10px;
	border-style: solid;
	width: 100%;
	box-sizing: border-box;
	font-family: 'lato';
}

footer{
	background-color:#fede00;
	padding:1em;
	text-align:center;
}



@media screen and (max-width: 600px){
   .main{
		flex-direction: column;   
   }

    .main2{
		flex-direction: column;   
   }

   .datos{
	   width:85%;
   }
	.descripcion{
		width:50px;
		margin:0%;
		color: #fede84;
	}
	.info{
		width:100%;
		margin:0%;
		color: #fede84;
	}
	h1{
		text-align:center;
		color: #fede84;
	}
	.col_der{
		background-color: #00435f;
	}
	.id_nombre{
		width:80%
	}

	#filtro{
		width:80%;
	}

}
@media screen and (min-width: 600px){
	.datos{
		width:50%;
	}
	.id_nombre{
		width:85%;
	}
	#filtro{
		width:85%;
	}
}

@media screen and (min-width: 768px){
	.datos{
		width:30%;
	}
	.datos:hover{
		opacity: 60%;
	}

}
	
@media screen and (max-width: 310px){
   .main{
		flex-direction: column;   
   }

    .main2{
		flex-direction: column;   
   }

   .datos{
	   width:100%;
   }
	.descripcion{
		width:100%;
		margin:0%;
		color: #fede84;
	}
	.info{
		width:100%;
		margin:0%;
		color: #fede84;
	}
	h1{
		text-align:center;
		color: #fede84;
	}
	.col_der{
		background-color: #00435f;
	}
	.id_nombre{
		width:50%;
	}

	#filtro{
		width:50%;
	}

}

