/* Estilo general del formulario */

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

/* Contenedor del "Sexo" y "Valoración de la página" */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group .form-group-title{
    border-bottom: 1px solid #444;
}

.radio-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Contenedor de los botones */
.button-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.button-group button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    flex: 1 1 100px;
}

.button-group button:hover {
    background-color: #45a049;
}

.button-group button.cancel {
    background-color: #f44336;
}

.button-group button.cancel:hover {
    background-color: #e53935;
}

.button-group button.reset {
    background-color: #ff9800;
}

.button-group button.reset:hover {
    background-color: #fb8c00;
}